
.cardSpacing {
    margin-bottom: 30px;
}

.fixWhitespace {
    padding-bottom: 400px;
    padding-top: 20px;
}

.btn-secondary { // search button color change
    background-color: #000;
    border-color: rgb(0, 0, 0);
}
i.fa-search {
    color: whitesmoke;
}

.fighterImage {
    width: 300px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
}

h5 {
    font-size: 13px;
    font-weight: bolder; 
}
