
.cardSpacing {
    margin-bottom: 30px;
}

.fixWhitespace {
    padding-bottom: 400px;
    padding-top: 20px;
}

.btn-secondary { // search button color change
    background-color: #000;
    border-color: rgb(0, 0, 0);
}
i.fa-search {
    color: whitesmoke;
}
