.whiteSpaceFix {
    padding-top: 110px;
    padding-bottom: 128px;
}

input.ng-invalid.ng-touched {
    border: 1px solid salmon;
}

.submissionField { 
    width: 100%; height: 190px; 
}

.containerContact {
    margin-bottom: -40px;
}