<div class="jumbotron">
    <div class="container">
      <br>
    </div>
</div>
      
      
<section class="call-to-action">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
          <span class="glyphicon glyphicon-cloud glyphicon-large" aria-hidden="true"></span>
        </div>

        <div class="col-md-4">
          <span class="glyphicon glyphicon-floppy-disk glyphicon-large" aria-hidden="true"></span>
        </div>

        <div class="col-md-4">
          <span class="glyphicon glyphicon-console glyphicon-large" aria-hidden="true"></span>
        </div>
      </div>
  </div>
</section>