    <app-jumbotron></app-jumbotron>
  
    <div class="container containerPadding text-center">
        <p>Filter Cards By ID:</p>
        <app-dropdown-filter (emittingValueFromDropdownComp)="getFilteredResult($event)"></app-dropdown-filter>
        <div class="row">
            <div 
              class="col-lg-3 col-md-4 col-sm-6 cardSpacing" 
              *ngFor="let data of myFilteredData | filter: navInputSearchValue: 'fullName'">
                <div class="card h-100 shadow-lg rounded" style="background-color: black; color:rgb(152, 152, 152)">
                    <img [src]="data.Flags" class="flagSize">
                    <button (click)="viewFighterProfile(data.id)" class="btn btn-danger imageInsideButton">
                        <img [src]="data.imagePath" class="img-fluid card-img-top fighterImage">
                    </button>
                    <div class="card-body">
                        <div class="card-text text-center">
                            <p> <strong>ID: {{ data.id }}</strong></p>
                            <button 
                               (click)="deleteFighter(data.id)"
                               class="btn btn-danger">
                               Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="registeredUsersBox">
            <h3>All registered users:</h3>
            <ol>
                <li *ngFor="let user of users">
                    {{user.username}} ({{user.firstName}} {{user.lastName}})
                    - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
                </li>
            </ol>
        </div>
    </div>
