
.cardSpacing {
    margin-bottom: 60px;
}

.containerPadding {
    padding-bottom: 110px;
}


.registeredUsersBox {
    border: 1px solid red;
    background-color: pink;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.flagSize {
    height: auto;
    width: 40px;
}

