.paddingForm {
    padding: 100px;
    padding-bottom: 580px;
    background-color: black;
    color: aliceblue;
}

.registerWallpaper {
    background-image: url("/assets/images/wallpaper/ufcLogin.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
    color: white;
    text-align: center;
    border-radius: 0%;
    height: 150px;
    width: auto;
    margin-left: -60px;
}

.containerRegister {
    margin-bottom: -40px;
}